.loginBox{
    text-align: center;
    height: 200px;
    width: 400px;
    margin: 50px auto 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    border-radius: 0.5em;
}
.loginBox .item{
    margin-top: 30px;
    margin-left: 0;
}
.loginBox label{
    margin-left: 80px;
    line-height:22px;

}
.loginBox input{
    float: right;
    margin-right: 40px;
    width: 200px;
    height: 25px;
}
.buttonLogin {
    background-color: #333;
    border: none;
    cursor: pointer;
    text-align: center;
    color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0.2), 0 2px 4px 0 rgb(0 0 0.2);
    margin-top: 15px;
    width: 180px;
    height: 30px;
}
#back a{
    color: #168ce1;
    text-decoration: none;
}
#back {
    color: white;
}
#pwd {
    font-size: 5px;
    margin-left: 14px;
}
#tip{
    margin-top: 20px;
    color: red;
}