.topicBox{
    text-align: center;
    height: 200px;
    width: 400px;
    margin: 50px auto 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    border-radius: 0.5em;
}
.topicBox .item{
    margin-top: 30px;
    margin-left: 0;
}
.topicBox label{
    margin-left: 80px;
    line-height:22px;

}
.topicBox input{
    float: right;
    margin-right: 40px;
    width: 200px;
    height: 25px;
}
.buttonCreate {
    background-color: #333;
    border: none;
    cursor: pointer;
    text-align: center;
    color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0.2), 0 2px 4px 0 rgb(0 0 0.2);
    margin-top: 15px;
    width: 180px;
    height: 30px;
}